ul,
li {
    text-decoration: none;
    float: left;
    list-style: none;
}

ul {
    margin: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}